# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/


**/[Bb]in/
**/[Oo]bj/

**/.DS_Store

.env

# Local History for Visual Studio Code
.history/.DS_Store